body {
    background: rgb(209, 182, 182);
    margin-left: 30px;
    margin-right: 300px;
}

header {
    margin-top: 70px;
}

h1 {
    color: red;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 600px;
}